#inventorySidebar {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 25%;
  height: 100%;
  padding: 2em;
  background: #262D3E;
  color: #EEE;
  text-align: center;
  box-shadow: 5px 0 4em black;
  z-index: 999999;
  overflow: scroll;
  display: none;
}

#inventory tr {
  height: 60px;
  width: 100%;
  color: #74829E;
}
#inventory tr:hover {
  background: #1E2430;
  color: #EEE;
}

.machine-preview-cell {
  white-space: nowrap;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.machine-preview-description {
  height: 30px;
}
